<body>
  <div id="about">
    <h1>About us</h1>

    <p>Story-tree was planted by Rob Boyland and Max Kirby at Makers Academy in April 2013.</p>

    <p>Rob Boyland is...</p>

    <p>Max Kirby is new to coding. He has worked in business and product development at Klarna in Stockholm and prior to that was an analyst at Lehman Brothers in London. He studied History at Oxford University and came to Makers Academy to learn something useful. A radical departure, but proof that there is indeed a first time for everything.</p>
  </div>
</body>