<div class="container-fluid">
  <div class="row-fluid">
    <h1>Welcome to story-tree!</h1>
  </div>
  <div class="row-fluid">
    <h4>Description</h4>
    <p>story-tree is a social story-telling application where users can submit, share and build upon each other's short stories</p>
  </div>
  <div class="row-fluid">
    <h4>MVP features</h4>
      <p>As a user I can:</p>
      <ul>
        <li>login and logout with Facebook</li>
        <li>submit a short story with title and content text</li>
        <li>share my story on Facebook</li>
        <li>vote on other people's stories and additions</li>
        <li>submit additions to other people's stories</li>
      </ul>
  </div>

  <div class="row-fluid">
    <h4>Nice to have</h4>
      <ul>
        <li>'Like' button for stories</li>
      </ul>
  </div>
</div>