<div id="fb-root"></div>

<div class="fb-like" data-href="http://www.google.com/" data-send="true" data-width="450" data-show-faces="true"></div>

<p>test</p>

<!-- "<%= link_to story.title, story_url %>" -->

