<body>
  <div id="add-new-story-link"><%= link_to "Add new story", new_story_path %></div>
  <div class="container-fluid">
    <div class="row-fluid">
      <%= render @stories %>
    </div>
  </div>
</body>

