<%= stylesheet_link_tag    "stories", :media => "all" %>

<body>
  <p><%= link_to "Add new story", new_story_path %></p>
  <div class="container-fluid">
    <div class="row-fluid">
        <h2>TESTING</h2>
         <%= render @stories %>
    </div>
  </div>
</body>

